@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400;700&display=swap');

$font-cl: #F1E8D2;
$bg-cl: #0A0A0A;
html {
    box-sizing: border-box;
    font-family: 'Podkova', serif;
    font-size: 10px;
    background-color: $bg-cl;
    color: $font-cl;
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}
a {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
h1 { font-size: 9.6rem;}
h2 { font-size: 4.8rem;}
h3 { font-size: 3.6rem; font-weight: normal;}